h1 {
  color:pink;
  font-family:sans-serif;
}

p{
  font-size: 30px;
  font-style:normal;
  font-weight: bold;
}
#first {
    line-height: 40px;
}
 {
    background-color: #DDDDDD;
    font-family:sans-serif;
    color: #DDDDDD;
}
