body{
background-color: #fffafa;
background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
#piece{
	font-family: "Times New Roman",serif; 
	font-size: 30px;
	text-align: center;
	position: fixed;
	top: 400px;
	left: 20%;
  	cursor: move;
  	z-index: 10;
  	width: 250px;
  	height: 50px;
  	background-color: lightpink;
  	padding-top: 5px;
    box-shadow: 1px 1px #888888;
}

#piece4{
	font-family: "helvetica",sans-serif; 
	font-size: 20px;
	text-align: center;
	position: fixed;
	top: 520px;
	left: 54%;
  	cursor: move;
  	z-index: 10;
  	width: 200px;
  	height: 40px;
  	background-color: #58cbf4;
  	padding-top: 10px;
  	color: white;
    box-shadow: 1px 1px #888888;
}

#piece5{
	font-family: "nunito",sans-serif; 
	font-size: 20px;
	text-align: center;
	position: fixed;
	top: 90px;
	left: 54%;
  	cursor: move;
  	z-index: 10;
  	width: 200px;
  	height: 40px;
  	background-color: #ff655b;
  	padding-top: 10px;
  	color: white;
    box-shadow: 1px 1px #888888;
}

#piece6{
 
  position: fixed;
  top:30px;
  left: 20%;
    cursor: move;
    z-index: 10;
}
#piece7{
 
  position: fixed;
  top:180px;
  left: 10%;
    cursor: move;
    z-index: 10;
}
#piece8{
 
  position: fixed;
  top:200px;
  left: 38%;
    cursor: move;
    z-index: 10;
}
#piece9{
 
  position: fixed;
  top:430px;
  left: 70%;
    cursor: move;
    z-index: 10;
}
#piece10{
 
  position: fixed;
  top:460px;
  left: 2%;
    cursor: move;
    z-index: 10;
}
#piece11{
 
  position: fixed;
  top:15px;
  left: 84%;
    cursor: move;
    z-index: 10;

}
#piece12{
 
  position: fixed;
  top:600px;
  left: 94%;
    cursor: move;
    z-index: 10;

}
#piece13{
 
  position: fixed;
  top:550px;
  left: 38%;
    cursor: move;
    z-index: 10;

}
#piece14{
 
  position: fixed;
  top:2px;
  left: 1%;
    cursor: move;
    z-index: 10;
}
#piece15{
 
  position: fixed;
  top:100px;
  left: 80%;
    cursor: move;
    z-index: 10;
}
#piece16{
 
  position: fixed;
  top:10px;
  left: 34%;
    cursor: move;
    z-index: 10;
}
#piece17{
 
  position: fixed;
  top:320px;
  left: 43%;
    cursor: move;
    z-index: 10;
}
#piece18{
 
  position: fixed;
  top:150px;
  left: 64%;
    cursor: move;
    z-index: 10;
}
#piece19{
 
  position: fixed;
  top:480px;
  left: 25%;
    cursor: move;
    z-index: 10;
}


a:hover{
	color:white;
}
a{
	color:black;
  text-align: center;
text-decoration: none;
font-size: 25px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}
