#piece{
	font-family: "Times New Roman",serif; 
	font-size: 30px;
	position: absolute;
  	cursor: move;
  	z-index: 10;
}
#piece2{
font-family: "Times New Roman",serif; 
	font-size: 30px;
		position: absolute;
  	cursor: move;
  	z-index: 10;
}
#piece3{
font-family: "Times New Roman",serif; 
	font-size: 30px;
	position: absolute;
  	cursor: move;
  	z-index: 10;
}
#piece4{
font-family: "Times New Roman",serif; 
	font-size: 30px;
		position: absolute;
  	cursor: move;
  	z-index: 10;
}
#piece5{
font-family: "Times New Roman",serif; 
	font-size: 30px;
		position: absolute;
  	cursor: move;
  	z-index: 10;
}
#piece6{
font-family: "Times New Roman",serif; 
	font-size: 30px;
		position: absolute;
  	cursor: move;
  	z-index: 10;
}
#piece7{
font-family: "Times New Roman",serif; 
	font-size: 30px;
		position: absolute;
  	cursor: move;
  	z-index: 10;
}
#piece8{
font-family: "Times New Roman",serif; 
	font-size: 30px;
		position: absolute;
  	cursor: move;
  	z-index: 10;
}
#piece9{
font-family: "Times New Roman",serif; 
	font-size: 30px;
		position: absolute;
  	cursor: move;
  	z-index: 10;
}
#piece10{
font-family: "Times New Roman",serif; 
	font-size: 30px;
		position: absolute;
  	cursor: move;
  	z-index: 10;
}
#piece11{
font-family: "Times New Roman",serif; 
	font-size: 30px;
		position: absolute;
  	cursor: move;
  	z-index: 10;
}

#piece12{
font-family: "Times New Roman",serif; 
	font-size: 30px;
		position: absolute;
  	cursor: move;
  	z-index: 10;
}
#piece13{
font-family: "Times New Roman",serif; 
	font-size: 30px;
		position: absolute;
  	cursor: move;
  	z-index: 10;
}

#piece14{
font-family: "Times New Roman",serif; 
	font-size: 30px;
		position: absolute;
  	cursor: move;
  	z-index: 10;
}









