body{
	background-color: #58cbf4;
}
#piece{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:500px;
	left: 30%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#twitter{
	position: fixed;
	width: 800px;
	height: 200px;
	background-color: white;
	color: black;
	border-radius: 40px;
	left:20%;
	top: 100px;
}
#piece2{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:600px;
	left: 50%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece3{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:115px;
	left: 22%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece4{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:400px;
	left: 30%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece5{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:400px;
	left: 50%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece6{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:400px;
	left: 60%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece7{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:450px;
	left: 45%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}


#piece8{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:450px;
	left: 38%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece9{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:600px;
	left: 38%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece10{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:40px;
	left: 28%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}


#piece11{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:400px;
	left: 38%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece12{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:480px;
	left: 18%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece13{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:485px;
	left: 68%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece14{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:420px;
	left: 69%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece15{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top: 20px;
	left: 6%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece16{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:600px;
	left: 69%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece17{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:800px;
	left: 69%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece18{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:900px;
	left: 20%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}#piece19{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:420px;
	left: 80%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece20{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:600px;
	left: 80%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece21{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:90px;
	left: 90%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece22{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:130px;
	left: 90%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece23{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:230px;
	left: 85%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece24{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:300px;
	left:95%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece25{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:420px;
	left: 6%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece26{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:200px;
	left: 86%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece27{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top: 200px;
	left: 9%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece28{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:230px;
	left: 9%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece29{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:530px;
	left: 9%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece30{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top: 320px;
	left: 69%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece31{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:340px;
	left: 60%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece32{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:300px;
	left: 6%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}

#piece33{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:400px;
	left: 19%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece34{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:560px;
	left: 29%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece35{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:100px;
	left: 6%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece36{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:350px;
	left: 20%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece37{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:780px;
	left: 78%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece38{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:380px;
	left: 90%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece39{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:600px;
	left: 15%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece40{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:800px;
	left: 9%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece41{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:20px;
	left: 60%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece42{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:20px;
	left: 80%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece43{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:330px;
	left: 29%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}
#piece44{
	font-family: "helvetica",sans-serif; 
	font-size: 30px;
	position: fixed;
	top:300px;
	left: 15%;
  	cursor: move;
  	z-index: 10;
  	color: black;
}


















