
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}


/* use */

html {
  box-sizing: border-box;
  cursor: pointer;
}

body {
background-color:#ededdd;

}


h1 {
  color:#ffaa01;
font-family: 'Prompt', sans-serif;
  font-size: 140px;
  line-height: 150px;
  font-weight: 500;
  text-align: left;
  margin-top:2%;
  margin-left: 2.5%;
  margin-bottom: 1%;
}

h2 {
    /* font-family: Halyard Display Regular, Helvetica, sans-serif ; */
font-family: 'Prompt', sans-serif;
   color:#171738;
    font-size: 28px;
    line-height: 45px;
    padding-bottom: 150px;
    letter-spacing: 2.5px;
    font-weight: lighter;
    text-align: right;
}
#parent {
display: inline block;
text-align: left;
padding-left: 4%;
height: 100px;
}
#class {
  color:#171738;
  float: left;
  text-align: left;
  padding-right: 1%;
  padding-left: 1%;

}


h2.row {
    color: #ff0077;
    text-align: left;
}

h3 {
font-family: 'Prompt', sans-serif;
    color:  #671118;
    font-size: 100px;
    line-height: 110px;
    text-align: center;
        letter-spacing: 2px;
 
    
}


h4 {
  font-family: 'Prompt', sans-serif;
    font-weight: 200;
    margin: 0;
   color:#171738;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 200%;
    text-align: center;
}

h5 {
    /* font-family: Halyard Display Light, Helvetica, sans-serif ; */
      font-family: 'Prompt', sans-serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: -0.1px;    
    margin: 20px;
    color: black;
    font-size: 20px;
        letter-spacing: 2.5px;
}
h6 {
    /* font-family: Halyard Display Regular, Helvetica, sans-serif ; */
      font-family: 'Prompt', sans-serif;
    font-weight: normal;
    color: black;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2.5px;

}


section {
    height: 100vh;
    width: 100%;
    position: relative;
}

p{
  color:#171738;
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 200;
  text-align: center;
  align-content: center;
  padding-top: 1%;
  padding-bottom: 2%;

}

a:hover{
  color: #016fb9;
  font-weight: 300;
  text-decoration: underline;

}


a{
  color:#171738;
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  text-align: center;
text-decoration: none;
font-size: 30px;
}

img{
  padding-top: 2%;
  margin-bottom: 5%;
  width: 600px; 
  height: 400px;
  padding-left: 5%;
  padding-right: 5%;
}
}
.container-text {
    height: 30px;
    width: auto;
    display: flex;
    justify-content: space-between;
    /* padding: 30px; */ position: fixed;
}

.mae {
    width: 120px;
    /* position: fixed; */
    left: 0%;
    text-align: left;
    font-size: 8pt;
    padding-top: 2%;

}

.craford {
    width: 130px;
    /* position: fixed; */
    right: 0%;
    text-align: right;
    font-size: 8pt;
}



/* div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
} */


.column {
    float: left;
    width: 33.33%;
    height: 50%;
    position: relative;
    /* overflow: hidden; */
}
  
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
bottom: 0;
position: relative;
}

.column-one {
float: left;
width: 100%;
height: 5%;
}




.container {
  width: 100%;
}

.grid_container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /* grid-template-rows: repeat(2, 5vw); */
  column-gap: 20px; 
  grid-row-gap:10px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 4;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 2;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}





.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    /* background-color: #2196F3; */
    /* padding: 10px; */
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto
    auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    /* 11 rows */
    height: auto;
    column-gap: 20px;
    row-gap: 30px;
    margin-right: 7%;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
  }

  .grid-item-1 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .grid-item-2 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .grid-item-3 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .grid-item-4 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .grid-item-5{
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .grid-item-6 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
  }

  .grid-item-7 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 6;
  }
  
  .grid-item-8 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start:1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 7;
  }


  .grid-item-9 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end:8;
  }

  .grid-item-10 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 9;
  }

  .grid-item-11 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 10;
  }

  .grid-item-12 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 11;
  }
  
  .grid-item-13 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 12;
  }

  .grid-item-14 {
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 13;
    grid-row-end: 13;
  }

  .grid-item-15 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 14;
    grid-row-end: 14;
  }

  .grid-item-16 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 15;
    grid-row-end: 15;
  }

  .grid-item-17 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: right;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 16;
    grid-row-end: 16;
  }

  .grid-item-18 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 17;
    grid-row-end: 17;
  }

  .grid-item-19 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 18;
    grid-row-end: 18;
  }


  .grid-item-20 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 19;
    grid-row-end: 19;
  }

  .grid-item-21 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 20;
    grid-row-end: 20;
  }

  .grid-item-22 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 21;
    grid-row-end: 21;
  }

  .grid-item-23 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 22;
    grid-row-end: 22;
  }

  .grid-item-28 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 23;
    grid-row-end: 23;
  }  

  .grid-item-30 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end:6;
    grid-row-start: 24;
    grid-row-end: 24;
  }  

  .grid-item-26 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 20;
    grid-row-end: 20;
  }  

  .grid-item-27 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 16;
    grid-row-end: 16;
  }  

  .grid-item-24 {
    /* background-color: rgba(255, 255, 255, 0.8); */
  
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 16;
    grid-row-end: 16;
  }  

  .grid-item-30 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 25;
    grid-row-end: 25;
  }  

  .grid-item-31 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 25;
    grid-row-end: 25;
  }  

  .grid-item-32 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 26;
    grid-row-end: 26;
  }  

  .grid-item-33 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 27;
    grid-row-end: 27;
  }  

  .grid-item-34 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align:  center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 28;
    grid-row-end: 28;
  }  


  .grid-item-35 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 29;
    grid-row-end: 29;
  }  

  .grid-item-36 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 30;
    grid-row-end: 30;
  }  

  .grid-item-37 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 31;
    grid-row-end: 31;
  }  

  .grid-item-38 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 32;
    grid-row-end: 32;
  }  

  .grid-item-39 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 33;
    grid-row-end: 33;
  }  

  .grid-item-40 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 34;
    grid-row-end: 34;
  }  

  .grid-item-41 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 35;
    grid-row-end: 35;
  }  

  .grid-item-42 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 36;
    grid-row-end: 36;
  }  
  .grid-item-43 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
  } 
  .grid-item-44 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 38;
    grid-row-end: 38;
  } 
  .grid-item-45 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 39;
    grid-row-end: 39;
  } 
  .grid-item-46 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 23;
    grid-row-end: 23;
  } 
  .grid-item-47 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 23;
    grid-row-end: 23;
  } 
   .grid-item-48 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 24;
    grid-row-end: 24;
  } 

 .grid-item-49 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 24;
    grid-row-end: 24;
  } 

  .grid-item-50 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 25;
    grid-row-end: 25;
  } 

  .grid-item-51 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 25;
    grid-row-end: 25;
  } 

  .grid-item-52 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 25;
    grid-row-end: 25;
  } 
   .grid-item-53 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 26;
    grid-row-end: 26;
  } 

 .grid-item-54 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 26;
    grid-row-end: 26;
  } 

  .grid-item-55 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 27;
    grid-row-end: 27;
  } 

  .grid-item-56 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 27;
    grid-row-end: 27;
  } 

  .grid-item-57 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 27;
    grid-row-end: 27;
  } 
    .grid-item-58 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 28;
    grid-row-end: 28;
  } 

 .grid-item-59 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 28;
    grid-row-end: 28;
  } 

  .grid-item-60 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 29;
    grid-row-end: 29;
  } 

  .grid-item-61 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 29;
    grid-row-end: 29;
  } 

  .grid-item-62 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 29;
    grid-row-end: 29;
  } 
  .grid-item-63 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 30;
    grid-row-end: 30;
  } 

 .grid-item-64 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 30;
    grid-row-end: 30;
  } 

  .grid-item-65 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 31;
    grid-row-end: 31;
  } 

  .grid-item-66 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 31;
    grid-row-end: 31;
  } 

  .grid-item-67 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 31;
    grid-row-end: 31;
  } 

  .grid-item-68 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 32;
    grid-row-end: 32;
  } 

 .grid-item-69 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 32;
    grid-row-end: 32;
  } 

  .grid-item-70 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 33;
    grid-row-end: 33;
  } 

  .grid-item-71 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 33;
    grid-row-end: 33;
  } 

  .grid-item-72 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 33;
    grid-row-end: 33;
  } 

  .grid-item-73 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 34;
    grid-row-end: 34;
  } 

 .grid-item-74 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 34;
    grid-row-end: 34;
  } 

  .grid-item-75 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 35;
    grid-row-end: 35;
  } 

  .grid-item-76 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 35;
    grid-row-end: 35;
  } 

  .grid-item-77 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 35;
    grid-row-end: 35;
  } 

  .grid-item-78 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 36;
    grid-row-end: 36;
  } 

 .grid-item-79 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 36;
    grid-row-end: 36;
  } 

  .grid-item-80 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 37;
    grid-row-end: 37;
  } 

  .grid-item-81 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 37;
    grid-row-end: 37;
  } 

  .grid-item-82 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 37;
    grid-row-end: 37;
  } 

  .grid-item-83 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 38;
    grid-row-end: 38;
  } 

 .grid-item-84 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 38;
    grid-row-end: 38;
  } 

  .grid-item-85 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 39;
    grid-row-end: 39;
  } 

  .grid-item-86 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 39;
    grid-row-end: 39;
  } 

  .grid-item-87 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 39;
    grid-row-end: 39;
  } 

  
  .grid-item-88 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 40;
    grid-row-end: 40;
  } 

 .grid-item-89 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 40;
    grid-row-end: 40;
  } 

  .grid-item-90 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 41;
    grid-row-end: 41;
  } 

  .grid-item-91 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 41;
    grid-row-end: 41;
  } 

  .grid-item-92 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 41;
    grid-row-end: 41;
  } 

  .grid-item-93 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 42;
    grid-row-end: 42;
  } 

 .grid-item-94 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 42;
    grid-row-end: 42;
  } 

  .grid-item-95 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 43;
    grid-row-end: 43;
  } 

  .grid-item-96 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 43;
    grid-row-end: 43;
  } 

  .grid-item-97 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 43;
    grid-row-end: 43;
  } 

  .grid-item-98 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 44;
    grid-row-end: 44;
  } 

 .grid-item-99 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 44;
    grid-row-end: 44;
  } 

  .grid-item-100 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 45;
    grid-row-end: 45;
  } 

  .grid-item-101 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 45;
    grid-row-end: 45;
  } 

  .grid-item-102 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 45;
    grid-row-end: 45;
  } 
  .grid-item-103 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 46;
    grid-row-end: 46;
  } 

 .grid-item-104 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 46;
    grid-row-end: 46;
  } 

  .grid-item-105 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 47;
    grid-row-end: 47;
  } 

  .grid-item-106 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 47;
    grid-row-end: 47;
  } 

  .grid-item-107 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 47;
    grid-row-end: 47;
  } 

  .grid-item-108 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 48;
    grid-row-end: 48;
  } 

 .grid-item-109 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 48;
    grid-row-end: 48;
  } 

  .grid-item-110 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 49;
    grid-row-end: 49;
  } 

  .grid-item-111 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 49;
    grid-row-end: 49;
  } 

  .grid-item-112 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 49;
    grid-row-end: 49;
  }

  .grid-item-113 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 50;
    grid-row-end: 50;
  } 

 .grid-item-114 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 51;
    grid-row-end: 50;
  } 

  .grid-item-115 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 51;
    grid-row-end: 51;
  } 

  .grid-item-116 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 51;
    grid-row-end: 51;
  } 

  .grid-item-117 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 51;
    grid-row-end: 51;
  }

  .grid-item-118 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 52;
    grid-row-end: 52;
  } 

 .grid-item-119 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 52;
    grid-row-end: 52;
  } 

  .grid-item-120 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 53;
    grid-row-end: 53;
  } 

  .grid-item-121 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 53;
    grid-row-end: 53;
  } 

  .grid-item-122 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 53;
    grid-row-end: 53;
  }

  .grid-item-123 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 54;
    grid-row-end: 54;
  } 

 .grid-item-124 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 54;
    grid-row-end: 54;
  } 

  .grid-item-125 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 55;
    grid-row-end: 55;
  } 

  .grid-item-126 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 55;
    grid-row-end: 55;
  } 

  .grid-item-127 {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: left;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 55;
    grid-row-end: 55;
  }
/* img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
    overflow: visible;
} */

.animate__animated .animate__fadeInUp {
  --animate-duration: 9a;
  /* --animate-delay: 0.9s; */
}



