
div.main{
	font-family: 'Roboto Condensed', sans-serif;
	width: 50%;
	height: 400px;
	margin-left: 75px;
	margin-right: 150px;
	font-size: 20px;
	margin-bottom: 300px;
}
div.cultured{
	width: 50%;
	height:240px;
	position: relative;

}
h1 {
  color:#76c2fc;
  font-family:"futura",sans-serif;
  font-size: 100px;
  text-align: center;
  margin: 300px;

}

h2{
  font-size: 20px;
  font-family: sans-serif;
}
#first {
    line-height: 40px;
}
#parent {
  display: flex;
}
#class {
  color:#2c933b;
  float: left;
  width: 50%;
  height: 200px;
  font-size: 30px;
}
#portfolio {
  color:#2c933b;
  float: right;
  width: 50%;
  height: 200px;
  font-size: 30px;
}


a:hover{
	color:pink;
}
a{
	color:#2c933b;
  text-align: center;
text-decoration: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}