body{
  align-content:center;
}
.s1{
    width: 33.3%;
    background-color: black;
    height: 100%;
    float:left;
  }
.s2{
  width: 33.3%;
  background-color:black;
  height:100%;
  float:left;
}
.s3{
  width:33.3%;
  background-color:black;
  height:100%;
  float:left;
}
