
body {
	background-color: white;

}
div {
	color: #3c5a8c;
	font-family: 'Bitter', serif;
	font-size: 20px;
	  padding: 20px;
  width: 1200px;
  height: 500px;
  text-align: center;

}
div.italic{
	color: #3c5a8c;
	font-family:  'Bitter', serif;
	font-style: italic;
	font-size: 20px;
	  padding: 20px;
  width: 1200px;
  height: 200px;
}
div.title{
	color:white;
	font-family: 'Courgette', cursive;
	font-style: italic;
	font-size: 50px;
  width: 1300px;
  height: 800px;
  background-color: #3c5a8c;
  margin:0;
}

