
#button {
	display: inline-block;
	position: fixed;
	top:100px;
	left: 50%;
	background-color: black;
	color: white;
	padding:10px;
	cursor: pointer;
	width: 100px;
	height: 50px;
	font-family: "Helvetica", sans-serif;
	font-style: italic;
	font-size: 25px;

}

#hat{
	width: 200px;
	height: 25px;
	position: fixed;
	top:170px;
	left:47%;
	background-color: black;
}

img{
	width:200px;
}